<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ asset('node_modules/bootstrap/dist/css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/style.css') }}" type="text/css">
    <title>Todolist</title>
</head>
<body>

    <div class="todo">
        <h3>Liste des tâches</h3>
    </div>

    <ol class="list-group">
        {% for name,content in app.session.get('todos') %}
            <li class="list-group-item">
                {{ name }} : {{ content }}
            </li>
        {% endfor %}
    </ol>

    {% for message in app.session.flashBag.get('info') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.session.flashBag.get('error') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}

</body>
</html>
